{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <title>Title</title>
</head>
<body>
<div class="container" style="padding: 10px;">
    <div class="row">
        <div class="col-sm-9">
            <div class="row" style="padding: 10px; margin-bottom: 20px">
                <form method="post" action=".">
                    <div>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="search"
                                   placeholder="Enter your search phrase here" name="q">
                        </div>
                        <button type="submit" class="btn btn-default col-md-2">Search</button>
                    </div>
                </form>

            </div>
            <div class="row well">
                <div class="list-group">
                    {% for item in search_results %}
                        <div href="{{ item.url }}" class="list-group-item">
                            <h4 class="list-group-item-heading">{{ item.id }}: {{ item.title }}</h4>

                            <p class="list-group-item-text">{{ item.text | truncatechars:200 }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>